extends ../../app_layout

block content
  .col.s10.offset-s1.m8.offset-m2.l6.offset-l3
    h3 Take Survey
    form.form-horizontal.col.s12(id='/account/take-survey', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .row
        .card.col.s10
          h4 1. This is question 1 
          .input-field.col.s12
            input.validate(type='text', name="question1", id='question1', autofocus=true)
            label(for='org_name') Your Answer
        .card.col.s10
          h4 2. This is question 2 
          .input-field.col.s12
            input.validate(type='text', name="question2", id='question2', autofocus=false)
            label(for='org_name') Your Answer
        .card.col.s10
          h4 3. This is question 3 
          .input-field.col.s12
            input.validate(type='text', name="question3", id='question3', autofocus=false)
            label(for='org_name') Your Answer
        .card.col.s10
          h4 4. This is question 4 
          .input-field.col.s12
            input.validate(type='text', name="question4", id='question4', autofocus=false)
            label(for='org_name') Your Answer
        .card.col.s10
          h4 5. This is question 5 
          .input-field.col.s12
            input.validate(type='text', name="question5", id='question5', autofocus=false)
            label(for='org_name') Your Answer   
      .row                                      
        button.btn-large.waves-effect.waves-light(type='submit')
          | Done!
